html{
    font-family: 'Roboto Slab', serif;
    background: rgb(255,255,255);
    background: linear-gradient(29deg, rgba(255,255,255,1) 0%, rgba(0,237,19,1) 0%, rgba(255,255,255,1) 46%, rgba(255,0,0,1) 98%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    line-height: 2rem;
}

.headerContainer{
    height: 100px;
    text-align: center;
    margin: 0;

}

.heading{
    margin: 0;
}


/* Ingredient area */




.ingredientContainer{
    position: relative;
    left: 400px;
    
    
    border: 1px solid gray;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 40%;
    margin: auto;
}

.instructionContainer{
    position: relative;
    right: 400px;
    
    
    border: 1px solid gray;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 40%;
    margin: auto;
}

.nutritionalContainer{
    
    position: relative;
    left: 400px;
    
    border: 1px solid gray;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 40%;
    margin: auto;
}



.spacingDiv{
    height: 100px;
}


.aboutContainer{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 70%;
    margin: auto;
}



/* images */
.finishedDish{
    position: absolute;
    right: 800px;
    height: 400px;
    border-radius: 1000px;
}
.rawChicken{
    position: absolute;
    left: 800px;
    height: 400px;
    border-radius: 1000px;
}






/* box shadow */
.boxShadow{
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}



/* Nav Styling */

nav{
    padding-bottom: 30px;
}

.navList{
    display: flex;
    justify-content: space-evenly;
}
.navItem{
    color: black;
    list-style-type: none;
    border-radius: 100px;
    text-decoration: none;

}

.navItem:hover{
    text-decoration: underline;
    
}
